body {
    font-family: monospace, sans-serif;
    background-color:#000000;
    
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 35px rgba(255, 255, 255, 0.253);
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 100px rgba(253, 252, 252, 0.103);
    animation: shadowTransition 2s infinite alternate;
}
@keyframes shadowTransition {
    0% {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.177); /* Cor inicial */
    }
    100% {
        box-shadow: 0 0 100px rgba(21, 255, 0, 0.177); /* Cor final */
    }
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    outline: none;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
}

input[type="radio"] {
    margin: 5px;
    accent-color: #000000;
}

button[type="submit"] {
    margin-left: 25%;
    margin-top: 1rem;
    width: 50%;
    padding: 10px;
    background-color: #4caf4fa1;
    color: #fcfcfc;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}